
/* MAIN */
html {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    margin: 0;
}

#container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
}


/* NAVIGATION */
nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav-links a {
    float: left;
    display: block;
    color: #e2f2f2;
    text-align: center;
    padding: 18px 36px;
    text-decoration: none;
    font-size: 20px;
}

#nav-links a:hover {
    background: #e2f2f2;
    color: #233434;
}

/* FILLER */
#filler {
    outline: 0px;
    left: 0px;
    top: 0px;
    width: 100vw;
    max-width:100%; /* Fixt Problem mit horizontaler Scrollbar...*/ 
    height: 100vh;
}

#filler > #filler-canvas {
    outline: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
}

/* FORM */
.form-header {
    float: left;
    display: block;
    height: 100%;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-bottom: 5px solid transparent;
}

.form-header:hover {
    cursor: pointer;
    border-bottom: 5px solid #e2f2f2;
}

#form-headers {
    height: 48px;
}

#form-headers > .active {
    border-bottom: 5px solid #233434 !important;
}

#form-sections {
    margin-top: 24px;
}

#form-sections > .form-section {
    display: none;
}

#form-sections > .active {
    display: inherit !important;
    height: 500px;
}

#form-sections > .active > .btnSubmit {
    background-color: #5CBF60;
    color: #fff;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.8;
}

#form-sections > .active > .btnSubmit:hover {
    opacity: 1;
}




/* Classes */
h1 {
    margin: 0;
    color: #233434;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #f1f1f1;
}

.centered {
    margin: auto;
    width: fit-content;
}

.br4 {
    border-radius: 4px;
}